[submodule "lammps_nano/LAMMPS-UEFEX"]
	path = lammps_nano/LAMMPS-UEFEX
	url = https://github.com/t-murash/LAMMPS-UEFEX.git
[submodule "lammps_nano/lammps"]
	path = lammps_nano/lammps
	url = https://github.com/lammps/lammps.git
[submodule "lammps_rheo/RHEO"]
	path = lammps_rheo/RHEO
	url = https://github.com/ThomasCOConnor/RHEO.git
[submodule "lammps_rheo/lammps"]
	path = lammps_rheo/lammps
	url = https://github.com/lammps/lammps.git
[submodule "lammps_nano_tersoff/lammps"]
	path = lammps_nano_tersoff/lammps
	url = https://github.com/lammps/lammps
[submodule "lammps_nano_tersoff/LAMMPS-UEFEX"]
	path = lammps_nano_tersoff/LAMMPS-UEFEX
	url = https://github.com/t-murash/LAMMPS-UEFEX
[submodule "lammps_rheo_inlet/RHEO"]
	path = lammps_rheo_inlet/RHEO
	url = https://github.com/ThomasCOConnor/RHEO.git
[submodule "lammps_rheo_inlet/lammps"]
	path = lammps_rheo_inlet/lammps
	url = https://github.com/lammps/lammps.git
